.App {
  text-align: center;
  /* background-color: lightblue; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.recipe-container {
  max-width: 800px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.headernav {
  height: 100px;
  margin-bottom: 10px;
}

.navbar-brand {
  padding: 20px;
}

.meal-tabs-container .nav-item {
  background-color: aliceblue;
}
.nav-item a {
  color: black;
}

.tutorial {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-style: italic;
  color: #282c34;
}

.meal-tabs-container {
  margin: auto 1% auto;
}

.recipe-item {
  white-space: pre;
  display: inline-grid;
}

.recipe-item:hover {
  font-weight: bold;
  background-color: whitesmoke;
  /* color: white; */
  cursor: pointer;
}

.home-screen {
  margin: 7% 15%;
}

.recipe-button {
  background-color: red;
  border: none;
  padding: 2%;
  margin: 0.5%;
}

.recipe-button:hover {
  background-color: darkred;
}

/* recipe item component */
.list-group-item {
  display: inline-block;
}

[ht-key]::after {
  content: attr(ht-key);
  color: orange;
}

[ht-value]::after {
  content: attr(ht-value);
  color: black;
}
